{% extends 'shop/basic.html' %}

{% block title %} Contact us {% endblock %}
{% block css %}  {% endblock %}
{% block body %}
<div class="container mb-4 pt-4">
<h3>Contact our team</h3>
<form action="/shop/contact/" method="post"> {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
  </div>

    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email id">
  </div>

    <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your mobile number">
  </div>


  <div class="form-group">
    <label for="desc">Describe your query</label>
    <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
  </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>

    </div>
{% endblock %}

{% block js%}
<script>

  {%if thank%}
  alert('Thank you for contacting us, we will revert back for your query');
  document.location='/shop/contact'
  {% endif %}

</script>

    {% endblock%}
