{% extends 'shop/basic.html' %}
{% block title%}Tracker{% endblock %}
{% block body %}
<div class="container">
    <div class="col  mb-4 pt-4">
        <h2>Enter your order id and email address to Track Your Order Items here</h2>
        <form method="post" action="#" id="trackerForm"> {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Order ID</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="id">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Track Order</button>
        </form>
    </div>
    <div class="col my-4">
        <h2>Here is the order items</h2>
        <div>
            <ul class="list-group" id="citems">
                Here displays the list of items in your order
            </ul>
        </div>
    </div>
    <div class="col my-4">
        <h2>Here is the order status</h2>
        <div>
            <ul class="list-group" id="items">
                Enter your order Id and Email and click Track Order to find details about your order!
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js%}
<script>
$('#trackerForm').submit(function(event) {
    $('#items').empty();

    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data) {
            $('#citems').empty();
            console.log(data)
            data = JSON.parse(data);

            updates = data[0];
            if (updates != undefined) {
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                    $('#items').append(mystr);
                }

                cart = JSON.parse(data[1]);
                console.log(cart);


                for (item in cart) {
                    let qty = cart[item][0];
                    let name = cart[item][1];

                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                    </li>`

                    $('#citems').append(mystr);

                }

            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                $('#items').append(mystr);
                $('#citems').append(mystr);
            }

        });
    event.preventDefault();
});
</script>
{% endblock%}